services:
  backend:
    build: ./backend
    ports:
      - "${PORT:-3000}:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
      - minio

  frontend:
    build: ./frontend
    ports:
      - "${FRONTEND_PORT:-8080}:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-blog}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT:-5432}:5432"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY:-minioadmin}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000" # API
      - "9001:9001" # Console Web

volumes:
  postgres_data:
  minio_data:
