/* HTML: <div class="loader"></div> */
.firebaseLoader {
  width: fit-content;
  /* font-weight: bold; */
  font-family: "JetBrains Mono";
  font-size: 15px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.firebaseLoader:before {
  content: "Image is uploading, Please wait...";
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
