@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  font-size: 1rem;
}
.blog-content h1 {
  font-size: 33px;
  margin: 20px 0;
}
.blog-content h2 {
  font-size: 30px;
  margin: 20px 0;
}

.blog-content h3 {
  font-size: 24px;
  margin: 15px;
}


.blog-content p {
  line-height: 2;
}

.blog-content a {
  color: rgb(85, 85, 201);
}
.blog-content a:hover {
  text-decoration: underline;
}
.blog-content {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
